<%= partial "partials/chartist-js" %>

<div class="container section section--top">
  <div><h1><%= practice_session.name %></h1></div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div>Practice Session #<%= practice_session.number %></div>
      <div>Date: <%= Date.parse(practice_session.date).strftime("%B %e, %Y") %></div>
      <% if practice_session.notes %>
        <div>Notes: <%= practice_session.notes %></div>
      <% end %>
      <% if practice_session.recording %>
        <div><a href="<%= practice_session.recording %>" class="recording-link">Recording</a></div>
      <% else %>
        <div>Recording not uploaded yet</div>
      <% end %>
      <% if practice_session.reflection_url %>
        <div><a href="<%= practice_session.reflection_url %>" class="reflection-link">Reflection</a></div>
      <% end %>
    </div>
  </div>

  <div class="row section">
    <div class="col-12 col-lg-6">
      <h3>Practiced</h3>
      <ul>
        <% find_all(:exercises, practice_session.exercises).each do |exercise| %>
          <li><%= exercise.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-12 col-lg-6">
      <h3>Completed</h3>
      <ul>
        <% if completed_increments(practice_session).empty? %>
          <li>None</li>
        <% else %>
          <% completed_increments(practice_session).each do |completed_increment| %>
            <li><%= completed_increment.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="section">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8"><h3>Progress</h3></div>
    </div>
    <div class="row justify-content-center">
      <div class="ct-chart chart--medium col-12 col-lg-8"></div>
    </div>
  </div>
</div>

<script>
  var data = <%= practice_session_progress_data(practice_session).to_json %>
</script>
<script src="/javascripts/blocks/basic-chart.js"></script>