<h1>Practice Session</h1>
<h2><%= practice_session[:name] %></h2>
<div>Date: <%= practice_session[:date] %></div>
<div>Notes: <%= practice_session[:notes] %></div>

<div>Practiced:</div>
<ul>
  <% practice_session[:exercises].each do |exercise| %>
    <li><%= exercise[:name] %></li>
  <% end %>
</ul>

<%= link_to("Back", "/practice-sessions") %>