<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<h1>Practice Session</h1>
<h2><%= practice_session[:name] %></h2>
<div>Date: <%= practice_session[:date].strftime("%B %e, %Y") %></div>
<div>Notes: <%= practice_session[:notes] %></div>

<h3>Practiced</h3>
<ul>
  <% practice_session[:exercises].each do |exercise| %>
    <li><%= exercise[:name] %></li>
  <% end %>
</ul>

<h3>Completed</h3>
<ul>
  <% practice_session.completed_increments.each do |ci| %>
    <li><%= ci[:name] %></li>
  <% end %>
</ul>

<div class="ct-chart" style="width: 800px; height: 600px;">
</div>


<script>
  var data = <%= practice_session_progress_data(practice_session).to_json %>
  new Chartist.Line('.ct-chart', data);
</script>

<%= link_to("Back", "/practice-sessions") %>