<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" /> -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-axistitle.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-accessibility.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-legend.js"></script>

<div class="grid-container">
  <div class="section--top">
    <div class="grid-x grid-padding-x">
      <div class="cell large-12"><h1><%= practice_session.name %></h1></div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell large-6">
        <div>Practice Session #<%= practice_session.number %></div>
        <div>Date: <%= Date.parse(practice_session.date).strftime("%B %e, %Y") %></div>
        <% if practice_session.notes %>
          <div>Notes: <%= practice_session.notes %></div>
        <% end %>
        <% if practice_session.recording %>
          <div><a href="<%= practice_session.recording %>" class="recording-link">Recording</a></div>
        <% else %>
          <div>Recording not uploaded yet</div>
        <% end %>
        <% if practice_session.reflection_url %>
          <div><a href="<%= practice_session.reflection_url %>" class="reflection-link">Reflection</a></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-x grid-padding-x">
      <div class="cell large-6">
        <h3>Practiced</h3>
        <ul>
          <% find_all(:exercises, practice_session.exercises).each do |exercise| %>
            <li><%= exercise.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="cell large-6">
        <h3>Completed</h3>
        <ul>
          <% if completed_increments(practice_session).empty? %>
            <li>None</li>
          <% else %>
            <% find_all(:exercise_increments, completed_increments(practice_session)).each do |completed_increment| %>
              <li><%= completed_increment.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="section">
    <h3>Progress</h3>
    <div class="grid-x grid-padding-x">
      <div class="ct-chart ct-octave cell large-8"></div>
    </div>
  </div>
</div>


<script>
  var data = <%= practice_session_progress_data(practice_session).to_json %>

  options = {
    axisY: {
      onlyInteger: true
    },
    plugins: [
      Chartist.plugins.ctAxisTitle({
        axisX: {
          axisTitle: "Practice Sessions",
          offset: {
            x: 0,
            y: 30
          },
        },
        axisY: {
          axisTitle: "Completed Increments",
        }
      }),
      Chartist.plugins.ctAccessibility({
        caption: "Increments completed by each keyboard",
        seriesHeader: 'Keyboard',
        summary: 'A graphic that shows the rate of improvement for the LIK and the TK',
        valueTransform: function(value) {
          return value + ' completed increments';
        },
        // Use this if you want to make accessibility table visible
        // visuallyHiddenStyles: 'position: absolute; top: 100%; width: 100%; font-size: 11px; overflow-x: auto; background-color: rgba(0, 0, 0, 0.1); padding: 10px'
      }),
      Chartist.plugins.legend({
        legendNames: ["TK", "LIK"],
      })
    ]
  }
  new Chartist.Line('.ct-chart', data, options);
</script>