<%= partial "partials/chartist-js" %>

<section class="container section section--top">
  <h1 class="section__header">Progress</h1>
  <div class="section__content">
    <div class="row">
      <div class="col progress__description">In order to my ability to play each keyboard, I have defined many increments of difficulty for each exercise I will practice. Often these increments are just increasing tempos, but the increments for sight reading and playing by ear can change other attributes such as the size of the largest increment. The charts below show the cumulative number of increments I was able to play for each practice session.</div>
    </div>
    
    <div class="row">
      <div class="col progress__description"><a href="https://airtable.com/invite/l?inviteId=invGYoLbmfKAPij46&inviteToken=bcabed9672c344ac87f6ec2a68096e86671805fe2db2fe4c89bfa3413422f8c5">You can see all of the increments for all of the exercises here.</a></div>
    </div>
  </div>
</section>

<section class="container section">
  <h2 class="section__header chart-section__header">All Exercises</h2>
  <div class="row section__content">
    <div class="col">
      <div class="ct-chart chart--medium"></div>
    </div>
  </div>
</section>


<% data[:domains].each do |domain| %>
  <section class="container section">
    <h2 class="section__header chart-section__header"><%= domain[:name] %></h2>
    <div class="row">
      <div class="col">
        <div class="chart--medium" data-domain="<%= domain[:name] %>"></div>
      </div>
    </div>
    <script>
      var chartData = <%= domain_progress(domain).to_json %>
      new Chartist.Line(document.querySelector('[data-domain="<%= domain[:name] %>"]'), chartData, basicOptions);
    </script>

    <% if find_all(:exercise_sets, domain[:exercise_sets]).length > 1 %>
      <% exercise_sets = find_all(:exercise_sets, domain[:exercise_sets]) %>
      <!-- Only show exercise sets with completed increments -->
      <% exercise_sets.select! { |exercise_set| any_completed_increments?(exercise_set) } %>
      <div class="row">
        <% exercise_sets.each do |exercise_set| %>
          <div class="col-6">
            <h3 class="exercise-header"><%= exercise_set[:name] %></h3>
            <div class="chart--medium" data-exercise-set="<%= exercise_set[:name] %>"></div>
          </div>
          <script>
            var chartData = <%= alternate_labels(exercise_set_progress(exercise_set)).to_json %>
            new Chartist.Line(document.querySelector('[data-exercise-set="<%= exercise_set[:name] %>"]'), chartData, basicOptions);
          </script>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>


<script>var data = <%= all_progress.to_json %></script>
<script src="/javascripts/pages/progress.js"></script>
