---
title: The Linear Isomorphic Keybaord
---

<%# Meta Tags %>
<% content_for :metatags do %>
  <%= partial "partials/metatags" %>
<% end %>

<%= partial "partials/chartist-js" %>
<script src="/javascripts/vendor/zenscroll.min.js"></script>


<!-- Hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 hero__text-space js-first-hero-text">
        <p class="hero__text graphit-xl-regular fadeInUp">
          <br>
          Is there a better way to design the piano?
        </p>
      </div>
    </div>
  </div>
  <div class="keyboard-space"></div>
  <div class="col-12 hero__text-space js-second-hero-text-area">
    <div id="second-hero-text" class="hero__text graphit-xl-regular js-second-hero-text is-hidden">
      <p>This is the</p>
      <h1 class="graphit-xl-bold">Linear Isomorphic Keyboard</h1>
    </div>
  </div>
  <div class="keyboard-container">
    <%= partial "/partials/keyboard" %>
  </div>
</div>

<!-- Summary -->
<div class="container section summary-section">
  <div class="row">
    <h2 class="col-sm-12 col-lg-6 section__header">This is an experiment</h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-10 summary__text graphit-xl-regular">
      I am exploring how the Linear Isomorphic Keyboard (LIK) compares to the Traditional Keyboard (TK).
    </div>
    <div class="col-sm-12 col-lg-10 summary__text graphit-xl-regular">I am practicing both keyboards for the same amount of time, playing the same exercises, and recording everything.</div>
  </div>
</div>

<!-- Progress -->
<div class="container section">
  <div class="row">
    <h2 class="col-12 section__header">The results so far</h2>
  </div>

  <div class="row">
    <div class="col-12 ct-chart ct-chart--full progress-chart"></div>
  </div>

  <div class="row">
    <div class="col-12 progress-footer ivar-soft-sm-regular">
      <div class="">Last practice session: <a href="/practice-sessions/<%= data.practice_sessions.sort_by { |ps| ps.date }.last.id %>"><%= Date.parse(data.practice_sessions.sort_by { |ps| ps.date }.last.date).strftime("%b %e, %Y") %></a></div>
      <div>
        <a href="/progress" class="">more progress</a>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <h2 class="col-12 section__header">Still curious?</h2>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col-sm-12 col-md-6">
      <a href="/articles#reflections"><h3 class="articles__subheader graphit-xl-bold">Reflections</h3></a>
      <div class="articles">
        <%= partial "/partials/article-preview", locals: { 
          link: "/reflections/reflection-3", 
          title: "Reflection #3: 33 Hours", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;I reflect on why the Linear Isomorphic Keyboard’s meteoric improvement, as well as strategies for sight reading and playing by ear that are tailored to each keyboard." 
        } %>

        <%= partial "/partials/article-preview", locals: { 
          link: "/reflections/reflection-2", 
          title: "Reflection #2: 15 Hours", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;I reflect on my slow progress on the Linear Isomorphic Keyboard, how I can improve exercises that use software, as well as my philosophy of how I should practice to improve depending on the content." 
        } %>

        <%= partial "/partials/article-preview", locals: { 
          link: "/reflections/reflection-1/", 
          title: "Reflection #1: The Assessment", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;In my efforts to get the experiment underway the initial assessment was done hastily, causing several small mistakes, as well as a blunder that was as interesting as it was humbling." 
        } %>
      </div>
      <div class="articles__footer ivar-soft-sm-regular">
        <a href="/articles" class="">more reflections</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <a href="/articles"><h3 class="articles__subheader articles__subheader--second graphit-xl-bold">Articles</h3></a>
      <div class="articles"> 
        <%= partial "/partials/article-preview", locals: { 
          link: "/articles/the-idea", 
          title: "The Idea", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;The Traditional Keyboard design was fantastic for its time, but music changed radically since, and now the Linear Isomorphic Keyboard offers a possible improvement." 
        } %>

        <%= partial "/partials/article-preview", locals: { 
          link: "/articles/the-hypotheses", 
          title: "The Hypotheses", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;I have a handful of predictions of how the Linear Isomorphic Keyboard will compare to the Traditional Keyboard, and these hypotheses are based on yet another hypothesis: the isomorphic advantage." 
        } %>

        <%= partial "/partials/article-preview", locals: { 
          link: "/articles/the-experiment", 
          title: "The Experiment", 
          description: "&nbsp;&nbsp;&nbsp;&nbsp;I have a handful of predictions of how the Linear Isomorphic Keyboard will compare to the Traditional Keyboard, and these hypotheses are based on yet another hypothesis: the isomorphic advantage." 
        } %>
      </div>
      <div class="articles__footer ivar-soft-sm-regular">
        <a href="/articles" class="">more articles</a>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row" style="margin-top: 2rem;">
    <h2 class="col-12 section__header">Contact</h2>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="contact-text">
        Have any questions, comments, propositions, qualms, or exclamations? I'm happy to talk, you can reach me at <a href="mailto:linearisomorphickeyboard@gmail.com">linearisomorphickeyboard@gmail.com</a>
      </div>
    </div>
  </div>
</div>

<script>var data = <%= all_progress.to_json %></script>
<script src="/javascripts/pages/application-index.js"></script>