---
title: The Linear Isomorphic Keybaord
---

<%= partial "partials/chartist-js" %>
<script src="/javascripts/vendor/waypoints.min.js"></script>
<script src="/javascripts/vendor/zenscroll.min.js"></script>


<!-- Hero -->
<div class="hero">
  <h1 class="hero__text hero__text--first fadeInUp">
    Is there a better way to design the piano?
  </h1>
  <%= partial "/partials/keyboard" %>
  <div class="keyboard-space"></div>
  <h1 class="hero__text fadeInUp">
    This is the<br><span class="hero__text--black">Linear Isomorphic Keyboard</span>
  </h1>
</div>

<!-- Summary -->
<div class="container section">
  <div class="row">
    <h2 class="col-6 section__header">This is an experiment</h2>
  </div>
  <div class="row">
    <div class="col-12 summary__text">
      I am exploring how the Linear Isomorphic Keyboard (<span class="summary__text--keyboard">LIK</span>) compares to the Traditional Keyboard (<span class="summary__text--keyboard">TK</span>).
    </div>
    <div class="col-12 summary__text">I am practicing both keyboards for the same amount of time, playing the <a href="" class="summary__text--link">same exercises</a>, and <a href="" class="summary__text--link">recording everything</a>.</div>
  </div>
</div>

<!-- Progress -->
<div class="container section">
  <div class="row">
    <h2 class="col-12 section__header">The results so far</h2>
  </div>

  <div class="row">
    <div class="col-12 ct-chart chart--medium progress-chart"></div>
  </div>

  <div class="row">
    <div class="col-12 progress-footer">
      <div class="">Last practice session: <a href="/practice-sessions/<%= data.practice_sessions.last.id %>"><%= data.practice_sessions.last.date %></a></div>
      <div>
        <a href="/progress" class="">more progress</a>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <h2 class="col-12 section__header">Still curious?</h2>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col-6">
      <h3 class="articles-title">Reflections</h3>
      <div class="articles">
        <div class="article">
          <a href="/reflections/reflection-3">
            <h4 class="article__title">Reflection #3: 33 Hours</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
        <div class="article">
          <a href="/reflections/reflection-2">
            <h4 class="article__title">Reflection #2: 15 Hours</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
        <div class="article">
          <a href="/reflections/reflection-1/">
            <h4 class="article__title">Reflection #1: The Assessment</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div style="text-align: center;">
        <a href="/articles" class="">more reflections</a>
      </div>
    </div>
    <div class="col-6">
      <h3 class="articles-title">Articles</h3>
      <div class="articles"> 
        <div class="article">
          <a href="/articles/the-idea">
            <h4 class="article__title">The Idea</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
        <div class="article">
          <a href="/articles/the-hypotheses">
            <h4 class="article__title">The Hypotheses</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
        <div class="article">
          <a href="/articles/the-experiment">
            <h4 class="article__title">The Experiment</h4>
            <div class="row justify-content-center">
              <div class="col-10 article__description">
                &nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div style="text-align: center;">
        <a href="/articles" class="">more articles</a>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row" style="margin-top: 2rem;">
    <h2 class="col-12 section__header">Contact</h2>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="contact-text">
        Have any questions, comments, propositions, qualms, or exclamations?
        <br>
        I'm happy to talk, you can reach me at <a href="mailto:linearisomorphickeyboard@gmail.com">linearisomorphickeyboard@gmail.com</a>
      </div>
    </div>
  </div>
</div>

<script>var data = <%= all_progress.to_json %></script>
<script src="/javascripts/pages/application-index.js"></script>